<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>We've Never Met: Card Inventory</title>
  <link rel="stylesheet" href="/static/FormStyles.css">
</head>
<body>
  <div class="home-container">
    <h1>We've Never Met: Card Inventory</h1>
    <h2>What do you wanna do?</h2>

    <div class="button-container">
      <a href="/addcard" class="nav-button">Add Card</a>
      <a href="/edit" class="nav-button">Edit Card</a>
    </div>
    <form method="GET" action="{{ url_for('index') }}" class="search-sort-form">
      <input type="text" name="search" placeholder="Search cards..." value="{{ request.args.get('search', '') }}">
      
      <label for="sort_by__filters">Filters:</label>
      <select name="sort_by_price" id="sort_by_price">
        <option value="">-- Select --</option>
        <option value="price_asc" {% if request.args.get('sort_by') == 'price_asc' %}selected{% endif %}>Low to High</option>
        <option value="price_desc" {% if request.args.get('sort_by') == 'price_desc' %}selected{% endif %}>High to Low</option>
      </select>
      <select name="sort_by_rarity" id="sort_by_rarity">
        <option value="">-- Select --</option>
        <option value="rairty_" {% if request.args.get('sort_by') == 'price_asc' %}selected{% endif %}>Low to High</option>
        <option value="price_desc" {% if request.args.get('sort_by') == 'price_desc' %}selected{% endif %}>High to Low</option>
      </select>

      <button type="submit">Apply</button>
    </form>

    </div>
    {% if cards %}
      <table>
        <thead>
          <tr>
            {% for key in cards[0].keys() %}
              <th>{{ key }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for card in cards %}
            <tr>
              {% for key, value in card.items() %}
                <td>
                  {% if key == "img_url" and value %}
                    <img src="{{ value }}" alt="Card Image" width="100">
                  {% else %}
                    {{ value }}
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
        
      </table>
    {% else %}
      <p>No cards found in the inventory.</p>
    {% endif %}
  </div>
</body>
</html>

